<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Log out to SHADYPLACE</title>
    <div th:replace="fragments/links-global">...</div>
</head>

<body class="bg-elegantgray d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto mx-1">
                <div class="card bg-bluesky shadow" style="width: 28rem;">
                    <div class="card-body ">
                        <div class="text-center text-light border-bottom border-light pb-2 mb-3">
                            <h1 class="card-title fs-3">
                                <img
                                        style="max-height:60px"
                                        th:src="@{/images/logo-main-light.png}"
                                >
                            </h1>
                            <h1 class="card-title fs-3">
                                Log out
                            </h1>
                        </div>

                        <form class="m-0" method="post" th:action="@{/logout}">
                            <div class="row justify-content-center gap-2">
                                <div class="col-auto p-0">
                                    <a class="btn btn-secondary shadow-sm" th:href="@{/}">Back to the site</a>
                                </div>

                                <div class="col-auto p-0">
                                    <input class="btn btn-danger shadow-sm" type="submit" value="Confirm log out">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/scripts-js.html">...</div>

</body>
</html>