<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>Manage command</title>
  <div th:replace="fragments/links-global">...</div>
</head>

<body class="">

<header th:replace="fragments/header.html :: header">...</header>

<header th:replace="fragments/navbar.html :: navbar">...</header>

<main>
  <!--/* Title */-->
  <section class="mt-5">
    <div class="row justify-content-center my-3">
      <div class="col px-3">
        <div class="card bg-bluesky text-light text-center border-secondary shadow border">
          <h1
            class="w-100 px-2 pt-1"
            th:text="'Manage command #' + ${command.id}"
          >
            Article preview
          </h1>
        </div>
      </div>
    </div>
  </section>
  <!--/* Content */-->
  <section class="mb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <!--/* Command Card and Validation Form */-->
          <div class="card shadow">
            <h5
              class="card-header bg-bluesky text-light"
              th:text="'Command #' + ${command.id}"
            >
              My account
            </h5>
            <div class="card-body">
              <!-- /* Form */ -->
              <form id="validationForm"  method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <ul class="list-group list-group-flush">
                  <li class="list-group-item" th:text="'Created at: ' + ${#dates.format(command.createdAt.time, 'dd-MM-yyyy')}"></li>
                  <li class="list-group-item" th:text="'Price: ' + ${command.totalPrice} + ' €'"></li>
                  <li class="list-group-item" th:text="'Payment: ' + ${command.paymentStatus.label}"></li>
                  <li class="list-group-item" th:text="'Validation: ' + ${command.validationStatus.label}"></li>
                  <li class="list-group-item" th:text="'Comment: ' + ${command.comment}"></li>
                  <li class="list-group-item" th:text="'User: ' + ${command.user.firstname + ' ' + command.user.lastname}"></li>
                  <li class="list-group-item"><a class="text-primary" th:href="'mailto:' + ${command.user.email}" th:text="'Email: ' + ${command.user.email}"></a></li>
                  <li class="list-group-item">
                    <div class="col-auto btn-group shadow-sm" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="commandStatus" id="validatedCommand" autocomplete="off" value="validated">
                      <label class="btn btn-outline-secondary btn-sm" for="validatedCommand">
                        <i class="fa-regular fa-thumbs-up me-1"></i>
                        Validated command
                      </label>

                      <input type="radio" class="btn-check" name="commandStatus" id="refusedCommand" autocomplete="off" value="refused">
                      <label class="btn btn-outline-secondary btn-sm" for="refusedCommand">
                        <i class="fa-regular fa-thumbs-down me-1"></i>
                        Refused command
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="d-flex gap-1 justify-content-end">
                      <div>
                        <a
                                th:href="@{/admin/commands-manager}"
                                class="btn btn-sm btn-secondary"
                        >
                          <i class="fa-solid fa-list me-1"></i>Back to the list
                        </a>
                      </div>

                      <div>
                        <button
                                type="submit"
                                class="btn btn-success btn-sm bg-gradient w-100 text-light shadow-sm"
                        >
                          <i class="fa-solid fa-share-from-square me-1"></i>
                          Submit
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
        <!-- /* Table */ -->
        <div class="col-lg-9">
          <div class="rounded-top bg-bluesky shadow">
            <h1 class="fs-3 text-light text-center pb-1 m-0">
              Details command
            </h1>
          </div>

          <table class="table table-striped shadow">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Stay date</th>
              <th scope="col">Price</th>
              <th scope="col">Equipments</th>
              <th scope="col">Line</th>
              <th scope="col">Location</th>
              <th scope="col">Fidelity Rank</th>
              <th scope="col">Family link</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${command.bookings}">
              <th scope="row" th:text="${booking.id}"></th>
              <td th:text="${#dates.format(booking.bookingDate.time, 'dd-MM-yyyy')}"></td>
              <td th:text="${booking.bookingPrice + ' €'}"></td>
              <td th:text="${booking.line.label}"></td>
              <td th:text="${booking.equipment.option}"></td>
              <td th:text="${booking.location != null ? booking.location.toString() : '-'}"></td>
              <td th:text="${booking.fidelityRank.label}"></td>
              <td th:text="${command.user.familyLink.label}"></td>
              <td>
                <a
                        th:href="@{'/admin/location-automatic/' + ${booking.id}}"
                        class="btn-switch-status btn btn-sm btn-secondary" >
                  <i class="fa-solid fa-robot me-1"></i>Auto location
                </a>
                <a
                        th:href="@{'/admin/location-manually/' + ${booking.id}}"
                        class="btn-switch-status btn btn-sm btn-secondary" >
                  <i class="fa-solid fa-map me-1"></i>Map location
                </a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>

</main>

<footer th:replace="fragments/footer.html :: footer">...</footer>

<div th:replace="fragments/scripts-js.html">...</div>

<script>
</script>

</body>
</html>