<!DOCTYPE html>
<html>
<head>
  ...
</head>
<body>

<footer class="container-fluid bg-carte" th:fragment="footer">
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <h5>© 2023 Copyright: SchadyPlace</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-4 text-center">
            <p>Ici description du business case</p>
        </div>
        <div class="col-lg-4 text-center">
            <p>Ici description du business case</p>
        </div>
    </div>
</footer>

</body>
</html>