<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
>
<head>

</head>
<body>

<th:block th:fragment="navbar">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-carte shadow" >
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">
                <img th:src="@{/images/logo-sunny-parasol-60px.png}" style="max-height:60px">
            </a>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler carte">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNav" class="collapse navbar-collapse">
                <div class="row-cols-auto">
                    <div class="col">
                        <ul class="navbar-nav">
                            <!-- /* LINK Home */-->
                            <li class="nav-item">
                                <a th:href="@{/#navbar}" aria-current="page" class="nav-link">Home</a>
                            </li>

                            <th:block sec:authorize="isAuthenticated()">
                                <!-- /* LINK Reserve a shady place ! */-->
                                <li class="nav-item">
                                    <a th:href="@{/booking/new#navbar}" class="nav-link">Reserve a shady place !</a>
                                </li>
                                <!-- /* LINK See my bookings */-->
                                <li class="nav-item">
                                    <a th:href="@{/booking/mybookinglist#navbar}" class="nav-link">See my bookings</a>
                                </li>
                                <!-- /* BTN Logout */-->
                                <li class="nav-item my-auto">
                                    <a  th:href="@{/logout}" class="btn btn-outline-dark btn-sm my-0">
                                        <i sec:authorize="hasAnyAuthority('ADMIN')" class="fa-solid fa-user-gear me-1"></i>
                                        <i sec:authorize="hasAnyAuthority('USER')" class="fa-solid fa-user me-1"></i>
                                        Log out
                                    </a>
                                </li>
                            </th:block>

                            <th:block sec:authorize="isAnonymous()">
                            <!-- /* LINK Create an account */-->
                                <li class="nav-item">
                                    <a href="http://localhost:8043/jee/user-register" class="nav-link my-auto">Create an account</a>
                                </li>
                            <!-- /* BTN Login */-->
                                <li class="nav-item my-auto">
                                    <a th:href="@{/login}" class="btn btn-outline-dark btn-sm my-0">
                                        <i class="fa-solid fa-user me-1"></i>
                                        Log in
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                    <div class="col">
                        <ul class="navbar-nav">
                            <!-- /* LINK Manage commands */-->
                            <li class="nav-item p-0">
                                <a th:href="@{/admin/commands-manager#navbar}" class=" btn btn-outline-success py-0 px-1 m-y ms-0 me-1">Manage commands</a>
                            </li>
                            <!-- /* LINK Manage customers */-->
                            <li class="nav-item p-0">
                                <a th:href="@{/admin/customer/list#navbar}" class="btn btn-outline-success py-0 px-1 m-y ms-0 me-1">Manage customers</a>
                            </li>
                            <!-- /* LINK Manage articles */-->
                            <li class="nav-item p-0">
                                <a th:href="@{/admin/article/list#navbar}" class="btn btn-outline-success py-0 px-1 m-y ms-0 me-1">Manage articles</a>
                            </li>
                        </ul>
                    </div>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>

    <div class="bg-light shadow opacity-50">
        <div sec:authorize="isAuthenticated()" class="container">
            <i sec:authorize="hasAnyAuthority('ADMIN')" class="fa-solid fa-user-gear mx-2"></i>
            <i sec:authorize="hasAnyAuthority('USER')" class="fa-solid fa-user mx-2"></i>
            <th:block th:text="${#authentication.getPrincipal().username}"></th:block></div>
    </div>
</th:block>

</body>
</html>