body {
    background: linear-gradient(to bottom, #f5e9c5, #d4a55f);

    /*background: #f5e9c5;*/
    color : #201800;
}

footer {
    padding-top: 1rem;
    padding-bottom: 10rem;
}

.page {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

a {
    text-decoration: none;
    color : #201800;
}

.bg-carte{
    /*background-color: #F2DCA2 !important;*/
    background: linear-gradient(to bottom, #F2DCA2, #eabe6d) !important;

}

.bg-carte-light{
    background: linear-gradient(to bottom, #f5e9c5, #d7b98b);
    /*background: #f5e9c5 !important;*/
}

button {
    --c:  #229091; /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}



button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}
button {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: .1em .3em;
    font-weight: bold;
    border: none;
}