body {
    background: linear-gradient(to bottom, #f5e9c5, #d4a55f);
    color : #201800;
}

header {
    height: 10px;
}

footer {
    padding-top: 1rem;
    padding-bottom: 10rem;
}

.page {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color : #201800;
}

.bg-carte{
    /*background-color: #F2DCA2 !important;*/
    background: linear-gradient(to bottom, #F2DCA2, #eabe6d) !important;

}

.bg-carte-light{
    background: linear-gradient(to bottom, #f5e9c5, #d7b98b);
    /*background: #f5e9c5 !important;*/
}

.bg-bluesky {
    background: linear-gradient(to bottom, #0077b6, #0099e5) !important;
}

.bg-cloudy {
    background: linear-gradient(to bottom, #f0f8ff, #d8e6f3, #b5c8e9, #92a8de, #6f88d4, #4c68c9, #2948bf) !important;
}


.bg-sunfall {
    background: linear-gradient(to bottom, #FF8F8F, #FFE0A7);
!important;
}

.text-shadow{
    text-shadow: 1px 1px 3px dimgray;
}


