footer {
    padding-top: 1rem;
    padding-bottom: 10rem;
}

.page {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color : #201800;
}

.bg-carte{
    /*background-color: #F2DCA2 !important;*/
    background: linear-gradient(to bottom, #F2DCA2, #eabe6d) !important;

}

.bg-carte-light{
    background: linear-gradient(to bottom, #f5e9c5, #d7b98b);
    /*background: #f5e9c5 !important;*/
}

.bg-bluesky {
    background: linear-gradient(to bottom, #0077b6, #0099e5) !important;
}
.text-darkblue {
    color: #012334 !important;
}

.bg-cloudy {
    background: linear-gradient(to bottom, #f0f8ff, #d8edf3, #cfedf8, #cfe3f1) !important;
}

.bg-light50 {
    background-color: rgba(255, 255, 255, 0.5); /* Blanc avec une opacité de 50% */
}

.bg-sunfall {
    background: linear-gradient(to bottom, #FF8F8F, #FFE0A7);
!important;
}

.text-shadow{
    text-shadow: 1px 1px 3px dimgray;
}

.bg-elegantgray {
    background: linear-gradient(to bottom, #d0eaf8, #b2c2c9, #809aa8, #37444b) !important;
}

.fs-7{
    font-size: 0.7rem;
}


