<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <div th:replace="fragments/link-favicon.html">...</div>
    <div th:replace="fragments/links-css.html">...</div>
</head>
<body>
<header th:replace="fragments/header.html :: header">...</header>

<nav th:replace="fragments/navbar.html :: navbar">...</nav>

<main>

    <!--/* Reservation form */-->
    <section>
        <div class="container">
            <h1 class="my-4">Create a new booking</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert bg-carte"><!--/* Content */-->
                        <form th:object="${bookingForm}" method="post" class="p-4">

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <div class="mb-3">
                                <label for="dateStart" class="form-label">Start date</label>
                                <input type="date" th:field="*{dateStart}" class="form-control" id="dateStart"/>
                                <span th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="dateEnd" class="form-label">End date</label>
                                <input type="date" th:field="*{dateEnd}" class="form-control" id="dateEnd"/>
                                <span th:if="${#fields.hasErrors('dateEnd')}" th:errors="*{dateEnd}" class="text-danger"></span>
                            </div>

                            <div id="collectionEquipment">
                                <div class="collectionForm" th:each="plage, state : ${bookingForm.locations}">
                                    <div class="border p-3 mb-3">
                                        <label th:text="'Parasol '+${state.index+1}" class="form-label"></label>

                                        <div class="mb-3">
                                            <label for="line" class="form-label">Line</label>
                                            <select th:name="'items_'+${state.index}+'_line'" class="form-select" id="line">
                                                <option th:each="line : ${lineList}" th:text="${line.label}" th:value="${line.id}"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="equipment" class="form-label">Equipment</label>
                                            <select th:name="'items_'+${state.index}+'_equipment'" class="form-select" id="equipment">
                                                <option th:each="equipment : ${equipmentList}" th:text="${equipment.option}" th:value="${equipment.id}"></option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <a id="addEmplacement" class="btn btn-primary">
                                Add a parasol location
                            </a>

                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <input type="text" th:field="*{comment}" class="form-control" id="comment"/>
                                <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer th:replace="fragments/footer.html :: footer">...</footer>

<div th:replace="fragments/scripts-js.html">...</div>

<script>
    $("#addEmplacement").click(function (){
        let index =  $('.collectionForm').length - 1;
        divToCopy = $('.collectionForm').last();

        newDiv = divToCopy.html().replace('name="items_'+index+'_line"', 'name="items_'+parseInt(index+1)+'_line"');
        newDiv = newDiv.replace('name="items_'+index+'equipment"', 'name="items_'+parseInt(index+1)+'_equipment"');
        newDiv = newDiv.replace('Parasol '+parseInt(index+1), 'Parasol '+parseInt(index+2));

        newDiv = '<div class="collectionForm">'+newDiv+'</div>';
        $('#collectionEquipment').append(newDiv);

    })

</script>
</body>
</html>
