<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login customer</title>
</head>
<body>
<h1>
    Log on to
</h1>

<div th:if="${param.error}">
    Invalid login or password
</div>
<div th:if="${param.logout}">
    You are disconnected
</div>
<div th:if="${param.registersuccess}">
    Your account is created please login
</div>

<form th:action="@{/login-customer}" method="post">
    <div>
        <label for="email">Email address</label>
        <input id="email" type="text" name="username" placeholder="Email address">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password">
    </div>
    <input type="submit">
</form>

<h2>I don't have an account yet</h2>

<a href="http://localhost:8043/jee/register-customer">Create an account</a>

<form method="post" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>


</body>
</html>