<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

<h1 th:utext="'Command #'+${command.id}"></h1>
<div th:utext="'Command #'+${command.user.firstname}"></div>
<div th:utext="'Command #'+${command.user.lastname}"></div>
<div th:utext="'Command #'+${command.totalPrice}"></div>

<table>
    <tr>
        <td>FACTURE</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Nom de votre société</td>
        <td>DATE :</td>
        <td>22 June 2022</td>
    </tr>
    <tr>
        <td> Slogan de votre société</td>
        <td>N° DE FACTURE</td>
        <td>100</td>
    </tr>
    <tr>
        <td></td>
        <td>FACTURER À :</td>
        <td>Nom</td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td></td>
        <td>Nom de la société</td>
    </tr>
    <tr>
        <td>Code postal, Ville</td>
        <td></td>
        <td>Adresse</td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td></td>
        <td>Code postal, Ville</td>
    </tr>
    <tr>
        <td>Télécopie</td>
        <td></td>
        <td>Téléphone</td>
    </tr>
    <tr>
        <td>Description du projet ou service</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>DESCRIPTION</td>
        <td> </td>
        <td>MONTANT</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>SOUS-TOTAL</td>
        <td> -   € </td>
    </tr>
    <tr>
        <td></td>
        <td>TAUX TVA</td>
        <td>0.00%</td>
    </tr>
    <tr>
        <td>Faites tous les chèques à l’ordre de Nom de votre société.</td>
        <td>TVA</td>
        <td> -   € </td>
    </tr>
    <tr>
        <td>Pour toute question concernant cette facture, contactez Nom, Numéro de téléphone, Adresse de courrier.</td>
        <td>AUTRES</td>
        <td> -   € </td>
    </tr>
    <tr>
        <td>NOUS VOUS REMERCIONS DE VOTRE CONFIANCE.</td>
        <td>TOTAL</td>
        <td> -   € </td>
    </tr>
</table>
</body>
</html>

